# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
/staticfiles/
/media/

# Environment
.env*
.venv
venv/
env/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Dependências e Artefatos do Python
__pycache__/
*.pyc
/staticfiles/
/media/
db.sqlite3

# Dependências do Frontend
/frontend/node_modules/
/frontend/build/
/frontend/.pnp.js
node_modules/

# Arquivos de Ambiente e IDE
.env
.vscode/

# Frontend Build Artifacts
frontend/dist/
frontend_dist/
backend/frontend_dist/
