# Ambiente
.env
.env.local
.env.*.local
venv/
env/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Python
*.py[cod]
*$py.class
.Python

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log

# Docker
docker-compose.override.yml