# Arquivo: requirements.txt
# Versão: 1.2 - Auditada

# Core Django & API
Django==4.2.13
djangorestframework==3.15.1
dj-database-url==2.1.0
python-decouple==3.8
psycopg2-binary==2.9.9
django-cors-headers==4.6.0

# Servidor de Aplicação & Arquivos Estáticos
gunicorn==22.0.0
waitress==3.0.0
whitenoise==6.7.0

# Tarefas Assíncronas (Celery)
celery==5.4.0
kombu==5.4.0
redis==5.0.4
django-celery-beat==2.6.0

# Motor Quantitativo e Análise de Dados
# MetaTrader5 # Comentado pois não está disponível em todos os ambientes (ex: Linux)
pandas==1.5.3
numpy # Removido pin de versão para resolver conflitos
scikit-learn==1.5.0
xgboost==2.0.3
optuna==3.6.1
# pandas-ta foi removido temporariamente para resolver um conflito de dependência insolúvel.

# Serviços de IA
openai==1.35.3

# Segurança
cryptography==42.0.8

# Utilidades
pytz
simplefix==1.0.15